<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <script src="{{ url('static', filename='jquery-3.6.4.min.js.js')}}"></script>
    <script src="{{ url('static', filename='notify.min.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url ( 'static', filename='css/main.css')}}"> 
    <div id="errors" style="display: none;">
    {% if errors %}
    {% for error in errors %}
    <h3 id="error" style="background-color: red;">{{error}}</h3>
    {% endfor %}
    {% endif %}
    </div>
    <div class="info" style="display: none;">
        <h3 id="success" style="background-color: green;"></h3>
    </div>
    <nav id="topnav">
        <ul>
            <li> <a href = "{{ url('home') }}">Главная строница</a></li>
            <li> <a href = "{{ url('sweets' )}}">Sweets</a></li>
            <li> <a href = "{{ url('manufacturers' )}}">Manufacturers</a></li>
            <li> <a href = "{{ url('storehouses' )}}">Storehouses</a></li>
            <li> <a href = "{{ url('sweets_types' )}}">SweetsTypes</a></li>
        </ul>
    </nav>
</head>
<body>

    {% block content %}{% endblock %}
    
</body>
</html>

