{% extends 'base.html' %}



{% block content %}
<h3>Производство:</h3>
<table  id="manuf" class="table">
    <thead>
        <tr>
            <td>Название производства:
            <td>Адрес:   
            <td colspan="2">Действие</td>
    </thead>
    <tbody>
    {% for i in res %}
        <tr id="{{i[0]}}" style="cursor: pointer;" onclick='more_manuf("{{ i }}")'>
            <td id="name_{{i[0]}}">{{ i[1] }}</td>
            <td id="adress_{{i[0]}}">{{ i[3] }}</td>
            <td><button id="del" onclick="delet_mn({{i[0]}})">Удаление</button></td>
            <td><button id="update" onclick='update_mn("{{i}}")'>Изменить</button></td>
        </tr>        
    {% endfor %}
    </tbody>
</table>

<table id="mn_more" style="display: none;" class="table">
    <thead>
        <tr>
            <td>Имя:
            <td>Телефон:
            <td>Адрес:
            <td>Город:
            <td>Строна:
        </tr>
    </thead>
    <tbody id="mn_info">
        
    <button  onclick="show_form()">Добавть производство</button><br>

    <div id="div_mn" style="display: none;">
        <form  action="manufacturers" method="post" class="mn_table">


            <br><label for="name" class="label-r" >Введите имя</label>
            <input id="mn_name" name="name" class="input"  >

            <label for="phone" class="label-r" >Введите телефон</label>
            <input id="mn_phone" name="phone" class="input" >

            <label for="adress" class="label-r" >Введите адрес</label>
            <input id="mn_adress" name="adress"  class="input" >

            <label for="city" class="label-r" >Введите город</label>
            <input id="mn_city" name="city" class="input" >

            <label for="country" class="label-r" >Введите страну</label>
            <input id="mn_country" name="country" class="input"  ><br>
        
            <input type="submit" value="Внести данные" >

        </form>

    </div>

    <div id="div_mn_m" class="div_mn_m" style="display: none;">
        <br><label for="name" class="label-r" >Введите имя</label>
        <input id="mn_name_m" name="name" class="input">
        
        <label for="phone" class="label-r" >Введите телефон</label>
        <input id="mn_phone_m" name="phone" class="input">
        
        <label for="adress" class="label-r" >Введите адрес</label>
        <input id="mn_adress_m" name="adress"  class="input" >
        
        <label for="city" class="label-r" >Введите город</label>
        <input id="mn_city_m" name="city" class="input">
        
        <label for="country" class="label-r" >Введите страну</label>
        <input id="mn_country_m" name="country" class="input" ><br>

        <button id="update_mn_m" onclick="update_mn_up()">Изменить</button>

        <button onclick="update_mn_bt()">Внести изменения</button>

    </div>
    <div>
    </div>
    
</tbody>

<!-- <button id="hidn_mn" class="container" onclick="hidn_mn()">Скрыть поле</button> -->

    
    
<script>
        
function more_manuf(res){
    // res = res.split(',')
    res = res.split("'").join("").replace("(", '').replace(")", '').split(',')
    console.log(res)
    let html = '<tr><td>'+res[1].trim()+'<td>'+ res[2].trim()+'<td>'+res[3].trim()+res[4].trim()+', '+res[5].trim()+'<td>'+res[6].trim()+'<td>'+res[7].trim()+'</tbody></table>'
        $('#mn_info').html(html)
        $('#mn_more').show()
}

function delet_mn(man_id){
    $.ajax({
        method: 'post',
        url: '/del_man',
        data: {'man_id': man_id},
        success: function(res){
            if (!res['error']) {
                $('#'+man_id).remove() 
            } else {
                $('#error').html(res['error'])
                $('#errors').show()
            }
        }
    })
}




function update_mn(i){
    i = i.split("'").join("").replace("(", '').replace(")", '').split(',');
    $('#mn_name_m').attr('mn_id', i[0].trim())
    $('#mn_name_m').attr('value', i[1].trim())
    $('#mn_phone_m').attr('value', i[2].trim())
    $('#mn_adress_m').attr('value', i[3].trim()+', '+i[4].trim()+', '+i[5].trim())
    $('#mn_city_m').attr('value', i[6].trim())
    $('#mn_country_m').attr('value', i[7].trim())
    $('#div_mn_m').show()
    
}

function update_mn_bt(){
    console.log(typeof $('#mn_name_m').attr('mn_id'))
    if($('#mn_name_m').attr('mn_id')>0 && $('#mn_name_m').attr('mn_id'), $('#mn_name_m').val().length>0 && $('#mn_phone_m').val().length>0 && $('#mn_adress_m').val().length>0 && $('#mn_city_m').val().length>0 && $('#mn_country_m').val().length>0) {
    $.ajax({
        method: 'post',
        url: '/update_mn',
        data: {'id':$('#mn_name_m').attr('mn_id'), 'name':$('#mn_name_m').val(), 'phone':$('#mn_phone_m').val(), 'adress':$('#mn_adress_m').val(), 'city':$('#mn_city_m').val(), 'country':$('#mn_country_m').val()},
        success: function(res){
        if (res['error'].length >0){
            $('#error').html((''))
            $('#error').html(res['error'])
            $('#errors').show()
        }
        if (res['res']>0){
            $.notify("Изменения произошли", "success")
            $('#div_mn_m').hide()
            $('#name_'+res['res']).html($('#mn_name_m').val())
            $('#adress_'+res['res']).html($('#mn_adress_m').val())
            $('#mn_info').html('<tr><td>'+$('#mn_name_m').val()+'<td>'+$('#mn_phone_m').val()+'<td>'+$('#mn_adress_m').val()+'<td>'+$('#mn_city_m').val()+'<td>'+$('#mn_country_m').val()+'</tbody></tabel>')
        }

}
    }); 
    } 
}

function show_form(){
    $('#div_mn').toggle()
}
        


// async function mn_add(){
//     if ($('#mn_name').val().length>0 && $('#mn_phone').val().length>0 && $('#mn_adress').val().length>0 && $('#mn_city').val().length>0 && $('#mn_country').val().length>0) {
//         try {
//             const resp =await $.ajax({
//                 url:'/manufacturers',
//                 method: 'POST',
//                 data: {'name':$('#mn_name').val(), 'phone':$('#mn_phone').val(), 'adress':$('#mn_adress').val(), 'city':$('#mn_city').val(), 'country':$('#mn_country').val()},
//             });
//             console.log(resp);
//         } catch (error) {
//             console.error(error)
//         }
//     }
// }




</script>

{% endblock %}
