{% extends 'base.html' %}

{% block content %}

<h3>Сладости:</h3>
<!--css перевести на классы!!!-->
<table class="table">
    <thead>
        <tr>
            <td>Название сладости:
            <td>Стоимость: 
            <td colspan="2">Действие
            
    </thead>
    <tbody>
    {% for i in res %}
        <tr id="tr_{{ i[0] }}" style="cursor: pointer;" onclick="moreInfo({{ i }})">
            <td id="_name_{{i[0]}}">{{ i[2] }}</td>
            <td id="cost_{{i[0]}}">{{ i[3] }}</td>
            <td><button onclick="del_sw({{ i[0]}})">Удаление</button></td>
            <td><button onclick="upd_sqw({{ i }})">Изменение</button></td>
        </tr>        
    {% endfor %}
    </tbody>
</table>

<table id="more" style="display: none;" class="table">
    <thead>
        <tr>
            <td>Имя:
            <td>Цена:
            <td>Вес:
            <td>Сахар:
            <td>Холодильник:
            <td>Дата производства:
            <td>Срок годности:
        </tr>
    </thead>
    <tbody id="more_info">

    </tbody>

</table>
<div id ="div_sw" style="display: none;" class="add_sweets">
    <label  class="label" for="name">Введите название сладости:</label>
    <input class="input" type="text" id="name" placeholder="Введите имя" name="name"><br>

    <label class="label"  for="cost">Введите цену:</label>
    <input  class="input" type="text" id="cost" placeholder="Введите цену" name="cost"><br>

    <label class="label"  for="weight">Введите вес:</label>
    <input class="input" type="text" id="weight" placeholder="Введите вес" name="weight"><br>

    <label class="label"  for="production_date">Выберите дату производства:</label>
    <input class="input" type="date" id="production_date" name="production_date"><br>

    <label class="label"  for="expiration_date">Выберите дату срока годности:</label>
    <input class="input" type="date" id="expiration_date" name="expiration_date"><br>

    <div class="radio" id="with_sugar">
        <p>Содержит сахар да/нет</p>
        <br><label class="label-r"  for="with_sugar_true">Да</label>
        <input class="input-r" type="radio" id="with_sugar_true" name="sugar" value="1">

        <label class="label-r" for="with_sugar_false">Нет</label>
        <input class="input-r" type="radio" id="with_sugar_false" name="sugar" value="0">
    </div>
    <div class="radio" id="requires_freezing">
        <p>Нужен холодильник да/нет</p>
        <label class="label-r" for="requires_freezing_true">Да</label>
        <input class="input-r" type="radio" id="requires_freezing_true" name="freezing" value="1">

        <label class="label-r"  for="requires_freezing_false">Нет</label>
        <input class="input-r" type="radio" id="requires_freezing_false" name="freezing" value="0">
    </div>

    <div class="radio" id="manufacturer">
        
    </div>
    <div class="radio" id="sweets_type">

    </div>
    <button id="sw_add" onclick="sweets_add()">Внести данные</button>
    <button id="clear_sweets" onclick="clear_sweets()">Очистить поле</button>
    <button id="update_sw_bt" onclick="update_sw_bt()">Внести изменения</button>

</div>

<button id="show_sweets" onclick="sweetsInfo()">Добавить сладости:</button>
<button id="hidn_sweets" onclick="hidn_sweets()" style="display: none;">Скрыть поле</button>

<script>
    let sw_type = new Array()
    let mn_type = new Array()
    function sweetsInfo(check=false, sw_id_s =null, mn_id_m=null) {
        $.ajax({
            url: "/sweetsInfo",
            method: 'GET',
            success: function(response){
                sw_type = response['sw_type']
                mn_type = response['mn_type']
                // console.log(sw_type, mn_type)
                let html_sw = '<p>Выберите тип сладости</p>'
                let html_mn = '<p>Выберите место производство</p>'
                for (let i=0; sw_type.length>i; i++){
                    // console.log(sw_type[i])
                    html_sw+= '<input class="input-r" type = "radio" id="sw_'+sw_type[i]['id']+'" name="sweets_type" value="'+sw_type[i]['id']+'"><label class="label-r" for="'+sw_type[i]['id']+'">'+sw_type[i]['name']+'</label>'
                }
                for (let i=0; mn_type.length>i; i++){
                    // console.log(mn_type[i])
                    html_mn += '<input class="input-r" type="radio" id="mn_'+mn_type[i]['id']+'" name="mn_type" value="'+mn_type[i]['id']+'"<label class="label-r" for="'+mn_type[i]['id']+'">'+mn_type[i]['name']+'</label>'
                }
                $('#hidn_sweets').show()
                $('#sweets_type').html(html_sw)
                $('#manufacturer').html(html_mn)
                $('.add_sweets').show()
                $('#show_sweets').hide()
                if (check){
                    $('#sw_'+sw_id_s).attr('checked', true)
                    $('#mn_'+mn_id_m).attr('checked', true)
                    $('#sw_add').hide()
                    $('#update_sw_bt').show()
                } else {
                    $('#update_sw_bt').hide()
                    $('#sw_add').show()
                }
            }
        })
    }

    function hidn_sweets() {
        $('#hidn_sweets').hide()
        $('#show_sweets').show()
        $('.add_sweets').hide()
    }

    function clear_sweets() {
        $('input').val('');
        $('input[type="radio"]').prop('checked', false)
    //     var inputElements = document.getElementsByTagName("input");
    // for (var i = 0; i < inputElements.length; i++) {
    // if (inputElements[i].type === "text" || inputElements[i].type === "number" || inputElements[i].type === "email" || inputElements[i].type === "password" || inputElements[i].type === "date" ) {
    //     inputElements[i].value = "";
    // } else if (inputElements[i].type === "radio") {
    //     inputElements[i].checked = false;
    // }
    // }
    }

    async function sweets_add(){
        if ($('#name').val().length>0 && $('#cost').val().length>0 && $('#weight').val().length>0 && $('#production_date').val().length>0 && $('#expiration_date').val().length>0 && $("input[type=radio][name=sugar]:checked").val().length>0 && $("input[type=radio][name=freezing]:checked").val().length>0 && $("input[type=radio][name=sweets_type]:checked").val().length>0 && $("input[type=radio][name=mn_type]:checked").val().length>0) {
            try {
                const resp = await $.ajax({
                    url:'/add_sweets',
                    method: 'POST',
                    data: {'name':$('#name').val(), 'cost':$('#cost').val(), 'weight':$('#weight').val(), 'production_date':$('#production_date').val(), 'expiration_date':$('#expiration_date').val(), 'with_sugar':$("input[type=radio][name=sugar]:checked").val(), 'requires_freezing':$("input[type=radio][name=freezing]:checked").val(), 'sweets_types_id':$("input[type=radio][name=sweets_type]:checked").val(), 'manufacturer_id':$("input[type=radio][name=mn_type]:checked").val()},
                    // contentType: 'application/json'
                }); 
                console.log(resp);
            } catch (error) {
                console.error(error)
            }
        }
    }

    function del_sw(id){
        $.ajax({
            url: '/del_sw',
            method: 'POST',
            data: {'id': id},
            success: function (res){
                if (res['error'].length>0){
                    $.notify(res['error'], "error");     
                }
                if (res['res']>0){
                    $.notify("Запись успешно удалена", "success");
                    $('#tr_'+id).remove()
                }
            }
        })
    }

    function upd_sqw(res, sw_id){
        $('.add_sweets').show()
        sweetsInfo(check=true, sw_id_s = res[1], mn_id_m = res[5]);
        // $('#sw_'+res[1]).attr('checked', true)
        // $('#mn_'+res[5]).attr('checked', true)
        $('#name').attr('sw_id', res[0])
        $('#name').attr('value', res[2])
        $('#cost').attr('value', res[3])
        $('#weight').attr('value', res[4])
        if (res[6] == "Да"){
            $('#with_sugar_true').attr('checked', true)
        } else {
            $('#with_sugar_false').attr('checked', true)
        }
        if (res[7] == 'Да'){
            $('#requires_freezing_true').attr('checked', true)
        } else {
            $('#requires_freezing_false').attr('checked', true)
        }
        $('#production_date').attr('value', res[8])
        $('#expiration_date').attr('value', res[9])
        $('#sw_add').hide()
    }

    function sleep(milliseconds) {
    const date = Date.now();
    let currentDate = null;
    do {
        currentDate = Date.now();
    } while (currentDate - date < milliseconds);
}

    function update_sw_bt(){
        if ($('#name').attr('sw_id')>0 && $('#name').val().length>0 && $('#cost').val().length>0 && $('#weight').val().length>0 && $('#production_date').val().length>0 && $('#expiration_date').val().length>0 && $("input[type=radio][name=sugar]:checked").val().length>0 && $("input[type=radio][name=freezing]:checked").val().length>0 && $("input[type=radio][name=sweets_type]:checked").val().length>0 && $("input[type=radio][name=mn_type]:checked").val().length>0){
            $.ajax({
                url: '/update_sw', 
                method: 'POST',
                data:{'id':$('#name').attr('sw_id'), 'name':$('#name').val(), 'cost':$('#cost').val(), 'weight':$('#weight').val(), 'production_date':$('#production_date').val(), 'expiration_date':$('#expiration_date').val(), 'with_sugar':$("input[type=radio][name=sugar]:checked").val(), 'requires_freezing':$("input[type=radio][name=freezing]:checked").val(), 'sweets_types_id':$("input[type=radio][name=sweets_type]:checked").val(), 'manufacturer_id':$("input[type=radio][name=mn_type]:checked").val()},
                success: function(res){
        if (res['error'].length >0){
            $.notify(res['error'], "error");
        }
        if (res['res']>0){
            $.notify("Изменения произошли", "success")
            $('.add_sweets').hide()
            $('#_name_'+res['res']).html($('#name').val())
            $('#cost_'+res['res']).html($('#cost').val())
            // $('#more_info').html('<tr><td>'+$('#mn_name_m').val()+'<td>'+$('#mn_phone_m').val()+'<td>'+$('#mn_adress_m').val()+'<td>'+$('#mn_city_m').val()+'<td>'+$('#mn_country_m').val()+'</tbody></tabel>')
            }
        }
            })
        }
    }





    // async function sweets_add() {
    //     if ($('#name').val().length>0 && $('#cost').val().length>0 && $('#weight').val().length>0 && $('#production_date').val().length>0 && $('#expiration_date').val().length>0 && $("input[type=radio][name=sugar]:checked").val().length>0 && $("input[type=radio][name=freezing]:checked").val().length>0 && $("input[type=radio][name=sweets_type]:checked").val().length>0 && $("input[type=radio][name=mn_type]:checked").val().length>0) {
    //                 $.ajax({
    //             url:'/add_sweets',
    //             method: 'POST',
    //             data: {'name':$('#name').val(), 'cost':$('#cost').val(), 'weight':$('#weight').val(), 'production_date':$('#production_date').val(), 'expiration_date':$('#expiration_date').val(), 'with_sugar':$("input[type=radio][name=sugar]:checked").val(), 'requires_freezing':$("input[type=radio][name=freezing]:checked").val(), 'sweets_types_id':$("input[type=radio][name=sweets_type]:checked").val(), 'manufacturer_id':$("input[type=radio][name=mn_type]:checked").val()},
    //             success:function(response){
    //                 console.log(response)
    //                 if (response['error'].length>0){
    //                     $('#error').html('')
    //                     $('#error').html(response['error'])
    //                     $('#errors').show()
    //                 } else if (response['res'].length>0) {
    //                     $('.add_sweets').hide()
    //                     $('#success').html('Успешно добавлено')
    //                     $('.info').show()
    //                 } else {
    //                     console.log('else')
    //                 }
                    
    //             }
    //         })
    //     }else{
    //         console.error('НЕТ')
    //     }
    // }

    function moreInfo(inf) {
        $('#more_info').html('')
        // console.log(inf.lenght)
        // let html = ''
        // for (let i=0; inf.length> i; i++){
        let html ='<tr><td>'+inf[2]+'<td>'+inf[3]+'<td>'+inf[4]+'<td>'+inf[6]+'<td>'+inf[7]+'<td>'+inf[8]+'<td>'+inf[9]+''
        // }
        $('#more_info').html(html)
        $('#more').show()
    }

</script>

{% endblock %}

